In [19]:
import mysql.connector as connection
import pandas as pandas
import csv

In [20]:
file = open('Book1.csv')
type(file)
csvreader = csv.reader(file)
header = []
header = next(csvreader)
header

['ï»¿name', 'city', 'rent']

In [21]:
try:
    mydb = connection.connect(host="localhost",user="root", passwd="mysql123",use_pure=True)
    # check if the connection is established

    query = "CREATE DATABASE IF NOT EXISTS Book1;"

    cursor2 = mydb.cursor() #create a cursor to execute queries
    cursor2.execute(query)
    
    cursor2.execute("SHOW DATABASES")
    
    print(cursor2.fetchall())

except Exception as e:
    #mydb.close()
    print(str(e))

[('book1',), ('chennaihousingdb',), ('glassdatachennaihousingdb',), ('information_schema',), ('mysql',), ('performance_schema',), ('pratikdb',), ('sys',)]

In [22]:
query ="CREATE TABLE IF NOT EXISTS Book1.rentPrice (name VARCHAR(20), city VARCHAR(20), rent VARCHAR(20))"

In [23]:
cursor2.execute(query)

In [24]:
cursor2.execute("SELECT * from Book1.rentPrice")
print(cursor2.fetchall())

[('PRATIK', 'GONDIA ', '33333'), ('PRATIK', 'GONDIA ', '33333'), ('PRATIK', 'GONDIA ', '33333'), ('PRATIK', 'GONDIA ', '33333')]

In [25]:
query2 = "INSERT INTO Book1.rentPrice (name,city,rent) VALUES ('PRATIK', 'GONDIA ', '33333')"
cursor3 = mydb.cursor()
cursor3.execute(query2)
mydb.commit()

In [26]:
csvreader

In [28]:
for i in csvreader:
    print(i)