In [1]:
import mysql.connector as connection
import pandas as pandas
import csv

In [12]:
try:
    mydb = connection.connect(host="localhost",user="root", passwd="mysql123",use_pure=True)
    # check if the connection is established

    query = "CREATE DATABASE IF NOT EXISTS GlassDatachennaiHousingDB;"

    cursor2 = mydb.cursor() #create a cursor to execute queries
    cursor2.execute(query)
    
    cursor2.execute("SHOW DATABASES")
    
    print(cursor2.fetchall())

except Exception as e:
    #mydb.close()
    print(str(e))

[('chennaihousingdb',), ('glassdatachennaihousingdb',), ('information_schema',), ('mysql',), ('performance_schema',), ('pratikdb',), ('sys',)]

In [26]:
#now creating a table with correct column names
file = open('Chennai housing sale.csv')
type(file)
csvreader = csv.reader(file)
header = []
header = next(csvreader)
header

['PRT_ID',
 'AREA',
 'INT_SQFT',
 'DATE_SALE',
 'DIST_MAINROAD',
 'N_BEDROOM',
 'N_BATHROOM',
 'N_ROOM',
 'SALE_COND',
 'PARK_FACIL',
 'DATE_BUILD',
 'BUILDTYPE',
 'UTILITY_AVAIL',
 'STREET',
 'MZZONE',
 'QS_ROOMS',
 'QS_BATHROOM',
 'QS_BEDROOM',
 'QS_OVERALL',
 'REG_FEE',
 'COMMIS',
 'SALES_PRICE']

In [14]:
query ="CREATE TABLE IF NOT EXISTS GlassDatachennaiHousingDB.chennaiHousingPrices( PRT_ID INT(5), AREA VARCHAR(20), INT_SQFT INT(5), DATE_SALE DATE,DIST_MAINROAD VARCHAR(20),N_BEDROOM INT(5),N_BATHROOM INT(5),N_ROOM INT(5),SALE_COND VARCHAR(20),PARK_FACIL BOOL,DATE_BUILD DATE, BUILDTYPE VARCHAR(20),UTILITY_AVAIL VARCHAR(20),STREET VARCHAR(20),MZZONE VARCHAR(20), QS_ROOMS FLOAT(10,5),QS_BATHROOM FLOAT(10,5),QS_BEDROOM FLOAT(10,5),QS_OVERALL FLOAT(10,5), REG_FEE INT(10),COMMIS INT(10),SALES_PRICE INT(10))"

In [15]:
cursor2.execute(query)

In [16]:
cursor2.execute("SELECT * FROM GlassDatachennaiHousingDB.chennaiHousingPrices")
print(cursor2.fetchall())

[]

In [9]:
show columns from yourTableName;

InternalError: Unread result found

In [18]:
for i in csvreader:
    for j in i:
        cursor2.execute('INSERT INTO GlassDatachennaiHousingDB.chennaiHousingPrices VALUES ({i})'.format(values=(j)))

KeyError: 'i'

In [27]:
cursor.execute("SELECT * FROM GlassDatachennaiHousingDB.chennaiHousingPrices")

ReferenceError: weakly-referenced object no longer exists

In [22]:
with open('Chennai housing sale.csv',"r") as data :
    next(data)
    data_csv = csv.reader(data)
    print(data_csv)
    for i in data_csv:
        print(i)
        for j in i:
            cursor2.execute('insert into GlassDatachennaiHousingDB.chennaiHousingPrices values ({data})'.format(data=(j)))
    print("all the data inserted ")
mydb.commit()

<_csv.reader object at 0x000001F46F7E8400>
['P03210', 'Karapakkam', '1004', '04-05-2011', '131', '1', '1', '3', 'AbNormal', 'Yes', '15-05-1967', 'Commercial', 'AllPub', 'Paved', 'A', '4', '3.9', '4.9', '4.33', '380000', '144400', '7600000']

DataError: 1136 (21S01): Column count doesn't match value count at row 1