In [9]:
import mysql.connector as connection
import pandas as pd

In [10]:
try:
    mydb = connection.connect(host="localhost",user="root", passwd="mysql123",use_pure=True)
    # check if the connection is established

    query = "SHOW DATABASES"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

[('book1',), ('chennaihousingdb',), ('glassdatachennaihousingdb',), ('information_schema',), ('mysql',), ('performance_schema',), ('pratikdb',), ('sys',)]

In [11]:
cursor.execute("SELECT * FROM book1.rentprice")
print(cursor.fetchall())

[('PRATIK', 'GONDIA ', '33333'), ('PRATIK', 'GONDIA ', '33333'), ('PRATIK', 'GONDIA ', '33333'), ('PRATIK', 'GONDIA ', '33333'), ('PRATIK', 'GONDIA ', '33333'), ('PRATIK', 'GONDIA ', '33333'), ('PRATIK', 'GONDIA ', '33333'), ('PRATIK', 'GONDIA ', '33333'), ('pratik', 'ngp', '5400'), ('mohit', 'ngp', '545342'), ('nikhil ', 'bnglr', '322432')]

In [12]:
cursor.execute("DELETE FROM book1.rentprice WHERE city = 'ngp'")

In [13]:
cursor.execute("SELECT * FROM book1.rentprice")
print(cursor.fetchall())

[('PRATIK', 'GONDIA ', '33333'), ('PRATIK', 'GONDIA ', '33333'), ('PRATIK', 'GONDIA ', '33333'), ('PRATIK', 'GONDIA ', '33333'), ('PRATIK', 'GONDIA ', '33333'), ('PRATIK', 'GONDIA ', '33333'), ('PRATIK', 'GONDIA ', '33333'), ('PRATIK', 'GONDIA ', '33333'), ('nikhil ', 'bnglr', '322432')]

In [14]:
mydb.commit()